<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <title>ToDo made by m-kimura</title>
  <link rel='stylesheet' href='sample.css'>
  <script src='https://unpkg.com/vue@3'></script>
  <script src='sample.js' defer></script>
</head>
<body> 
  <div id='todo-app'>
    <header class='header'>
      <h1 class='header__title'>Todo made by m-kimura</h1>
    </header>
    <main class='main'>
      <div class='form'>
        <input @keyup.enter='addTodo' type='text' v-model='newTodo' placeholder='Add Todo & press Enter.' class='form-item__input-text'>
      </div>
      <ul class='item-list'>
        <li v-for='(todo, index) in todos' :key='todo.id' class='item-list__item'>
          <input @keyup='updateTodo(index, todo)' type='text' v-model='todo.todo' class='item-list__item-li'>
          <button @click='deleteTodo(index)' class='item-list__item-button-delete'>X</button>
        </li>
      </ul>
    </main>
  </div>
</body>
